<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base::head}"></head>
<body>
	<div th:replace="~{base::logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Novo Pedidoo')}"></div>
		<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-body" th:action="@{/pedidos/novo}" method="post">
				<div class="mb-3">
					<label class="form-label" for="nomeProduto">Produto</label>
					<input th:field="*{nomeProduto}" class="form-control is-invalid" placeholder="nome do produto">
					<small>Informa qual o nome do produto.</small>
					<div id="nomeProdutoFeedback" class="invalid-feedback" th:errors="*{nomeProduto}">
				        Please choose a username.
				    </div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="urlProduto">URL</label>
					<input th:field="*{urlProduto}" class="form-control is-invalid" name="urlProduto" placeholder="url do produto">
					<small>Informa qual o nome do produto.</small>
					<div id="urlProdutoFeedback" class="invalid-feedback" th:errors="*{urlProduto}">
				        Please choose a username.
				    </div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="urlImagem">Imagem</label>
					<input th:field="*{urlImagem}" class="form-control is-invalid" name="urlImagem" placeholder="url da iamgem">
					<small>Copie a url de uma boa imagem do produto e cole aqui para ajudar na busca dos compradores.</small>
					<div id="urlImagemFeedback" class="invalid-feedback" th:errors="*{urlImagem}">
				        Please choose a username.
				    </div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="descricao">Descrição</label>
					<textarea th:field="*{descricao}" name="descricao" placeholder="Adicione detalhes importantes sobre o produto que deseja vender"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>